h1{
    color: burlywood;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
h3{
    color: burlywood;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    color: darkolivegreen;
}
a:hover{
    color: blanchedalmond;
    background-color:burlywood;
    text-decoration: none;
}
a{
    margin: 20px;
    color:blanchedalmond;
}
.top{
    margin-top: 100px;
}
body{
    background-repeat: no-repeat;
    background-image: url(/images/IMG_7549.JPG);
    background-size:cover;
}
.inspo a{
    white-space: pre;
    text-decoration: none;
}
input[type=email]{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px burlywood;
    border-radius: 15px;
    background-color: blanchedalmond;
}
.slider{
    -webkit-appearance: none;
    width: 350px;
    height: 15px;
    border-radius: 5px;
    background: blanchedalmond;
    outline: none;
    opacity: 0,7;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transition: .2s;
    transition: opacity .2s;

}
.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: burlywood;
    cursor: pointer;
    
}
textarea{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px burlywood;
    border-radius: 15px;
    background-color: blanchedalmond;
}
.top label{
    color: darkolivegreen;
}
blockquote p{
    background-color: blanchedalmond;
    color:forestgreen;
    padding: 15px;
    border-radius: 15px;
}

    
